<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :booking_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :booking_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :booking_phone %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :booking_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time, id: :booking_time %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :booking_user_id %>
  </div>

  <div class="field">
    <%= form.label :advisor_id %>
    <%= form.text_field :advisor_id, id: :booking_advisor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
